h1 {
	font-family: graduate;
	font-size: 4em;
	text-align: center;
	margin: auto;
	}

.nav {
	float: right;
	margin-bottom: 5%;

	}

h2 {
	font-family: glegoo;
	font-size: 2em;
	text-align: center;
	}

h3 { 
	font-family: glegoo;
	font-size: 2em;
	text-align: center;
	margin-bottom: 5%;
}

img {
	margin-left: 18%;
	margin-bottom: 5%;
}



@media only screen and (max-width: 500px){
    .responsive {
       width: 100%;
    }
}